 
 
                                                    /*GENERAL SETTINGS FOR START*/
 *{
    padding: 0%;
    margin: 0%;                                 
    box-sizing: border-box;
}

                                                /*HOVER PROPERTY COMMON DECLARATION*/
.box{
    border: 2px solid transparent;
}
.box:hover{
    border: 1px solid white;
    /* padding: 2px; */
    /* transition: 0.3s; */
    cursor: pointer;
}

                                          /* BOXES NEED TO BE PLACED TOGETHER SIDE BY SIDE */
.navbar{
    background: #0F1111;
    height: 60px;
     display: flex;                                
}



                                         /*PROPERTIES TO SET A BOX-1 WHICH INCLUDE LOGO*/
.navbar1{
    color: #007185;
    margin: 1px;
    padding: 1px 8px 0px 6px;                          
    width: 138px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    height: 50px;
    font-size: 14px;
    background-image: url("Amazon-Logo-1024x426-1.webp");
}

                                       

                                        /* HOVER PROPERTY ON AMAZOM LOGO
.navbar1:hover{
    border: 1px solid white;
    padding: 2px 2px 2px 2px;
    transition: 0.3s;
} */
   

                                         /*BOX-2 PROPERTIES */
.navbar2{
    height: 50px;
    margin-top: 5px;
    width: 88.69px;
    display: flex;
}                           

                                         /*HOVER PROPERTY ON box-2*/
/* .navbar2:hover{
    border: 1px solid white;
    padding: 2px 2px 2px 2px;
    transition: 0.3s;
    cursor: pointer;
} */



                                          /*SUB-BOX OF BOX-2 FOR LOCATION LOGO*/   
.first{
    width: 15px;
    height: 18px;
    margin: 20px 0px 0px;
}



                                           /*SECOND BOX SEPARATION FROM FIRST BOX(BOX-2)*/
.second{
    margin: 8px 0px 0px;
    padding-left: 1px;    /*gap between text and location logo*/
}



                                            /*DELIVER TO TEXT BOX PROPERTY*/
.second1{
    color: azure;
    font-family: Arial, Helvetica, sans-serif ;
    height: 14px;
    font-size: 12px;
    width:50.69;
}


                                            /*INDIA TEXT BOX PROPERTY*/
.second2{
    height:16px ;
    width: 50.96px;
    color: azure;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}



                                       /*BOX-3 DECLARATION CONTENTS THREE PARTS*/
.navbar3{
    width: 923.56px;
    height:60px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    margin: 4px;
    justify-content: space-evenly;
    margin-top: 2px;
    padding-top:2px ;
}



                                         /*PART-1 OF BOX-3(SELECT OPTION "ALL")*/
.select1{
    height: 40px;
    border: none;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #95b7bd;
    margin-top: 2px;
    padding-top:2px ;
}
.select1:hover{
    cursor:pointer;
    filter: contrast(80%);
    border: 3px solid rgb(249, 121, 35);
}



                                           /*PART-2 OF BOX-3 (SEARCH BAR)*/
.inpsearch{
    height: 40px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    padding-top:2px ;
}
.inpsearch:hover{
    border: 3px solid rgb(249, 121, 35);
}





                                           /*PART-3 OF BOX-3(SEARCH ICON)*/
    .navbar3icon{
    width: 45px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd69;
    margin-top: 2px;
    padding-top:2px ;
}
.navbar3icon:hover{            /*HOVER FOR ICON*/
    cursor:pointer;
    border: 3px solid rgb(249, 121, 35);
    filter: contrast(80%)
   
}



                                             /*NAVBAR4 OR BOX-4*/
.navbar4{
    display: flex;
    height: 50px;
    width: 84.38px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 1px;
    padding: 0px 9px 5px;
}

                                         /*PART-1 OF BOX-4(FLAG IMG)*/
.navbar4 img{
height:16.2px;
width:21.6px;
justify-content: center;
align-items: center;
margin-top: 25px;
}


                                        /*PART-2 OF BOX-4(LANGUAGE SLECT)*/
.selectlang{
   background: transparent;
   color: rgb(243, 246, 245);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 25px;
}


                                        /*NAVBAR-5 OR BOX-5 */
.navbar5{
    height: 50px;
    width: 139.9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}


                                        /*PART-1 OR UPPER PART OF BOX-5*/
.upper{
    color: azure;
    height: 14px;
    width: 70px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
        


                                         /*PART-2 0R BOTTOM OF BOX-5*/
/* .navbottom{
    border: none;
    color: azure;
    font-weight: 700;
    font-size: 11px;
    width: 113px;
    height: 15px;
    background: transparent;
}
   */


                                       /*NAVBAR-6 OR BOX-6(RETURNS &ORDER)*/
.navbar6{
    width: 76.95px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 5px 4px 5px;
}


                                      /*PART-1 OF BOX-6(RETURN)*/
/* .up{
    width: 58.95px;
    height: 14px;
    color: white;
    font:12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px 0px 0px;
}    */
   
   
  
                                    /*PART-2 OF BOX-6(&ORDERS)*/
.down{
    width: 120px;
    height: 15px;
    color: white;
    font-weight:700;
    padding-top: 8px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
} 



                                    /*NAVBAR-7 OR BOX-7(CART LOGO)*/
.navbar7{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    margin-top: 2px;
    padding-top:8px ;
}



                                  /*PART-2 OF BOX-7(TEXT ONLY) IMSG HASBEEN ADDED IN HTML*/
.text{
    color: white;
    font-weight: bold;
    margin-top: 2px;
    padding-top:2px ;
    
}



                                    /*MAIN STARTED WITH PANEL SETTINGS*/
.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
   
}
                                  /*PANEL LEFT (PART-1)*/
.left{
    display: flex;
    color: white;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom:4px;
    font-weight: 700

}



                                /*PROPERTIES FOR ALL IN PART-1*/
.left p{
    margin-left: 5px;
}


                               /*PANEL MIDDLE (PART-2)*/
.middle{
    margin-left: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 80%;
}
  

                             /*MIDDLE TEXT PROPERTY*/
.middletext{
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;

}

                               /*PANEL RIGHT OR PART-3*/
.right{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 200px;
}
                     

                     /*BIG PICTURE ENTRY*/
.pic{
    background-image: url("61aURrton0L._SX3000_.jpg");
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

                         /*TEXT ON THE BIG PICTURE*/
.picbox{
    color: rgb(18, 15, 15);
    background-color: rgb(201, 196, 196);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
      



                                /*BOXES 8 SPACE-EVENLY FOR PRODUCTS*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #46656b;
}

                               /*EIGHT  BOXES OF SAME PROPERTIES*/
.abc{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 14px ;
    margin-top: 8px;
    border: none;
}



                           /*IMAGE PROPERTY INSIDE THE 8-BOXES*/
.boximg{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 12px;
    
}
 

                            /*HEADING OF ALL THE 8-BOXES*/
.boxcontent{
    margin-left: 16px;
    margin-right: 16px;

}
  

                              /*BELOW 8-BOXES SIGN-IN*/
.frame{
    height: 152px;
    background-color: white;
    padding: 10px;
}


                              /*FRAME SEPARATE EITH PADDING AND SIGN-IN ENTITIES*/
.frame1{
    height: 125px;
    padding: 37px 20px;
    text-align: center;
}


                                /*TEXT PROPERTY UNDER THE FRAME*/
.framebutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
}



                             /*BACK TO TOP FOOTER SETTINGS*/
.footertop{
    height:50px;
    color: white;
    background-color: #364454;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}




                          /*FOOTER LIST CREATED */
.footermiddle{
    height:318px;
    color: white;
    background-color: #232F3E;
    display:flex;
    justify-content: space-evenly;
    padding-top: 10px;
    
}

                         /*INSIDE LIST TEXT PROPERTY*/
ul a{
    display: block;
    padding:5px;
    color: #dddddd;
}


                         /*HOVER PROPERTY FOR TEXT IN LIST*/
ul a:hover{
    cursor: pointer;
    text-decoration: underline;
}




                            /*BOTTOM PART-1 LOGO AND SOME TEXT*/ 
.footerbottom{
    height: 100px;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    
    

                            /*BOTTOM PART-1 LOGO*/
}
.fblogo{
    background-image: url("amazon_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 53px;
    width: 99px;
    margin-left: 400px;
    
}





                             /*BOTTOM PART-1 TEXTBOX-1*/
.fbtext1{
    border: 2px solid #dddddd;
    border-radius: 5px;
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 80px;
}


                            /*TEXTBOXES FOR BOTTOM PART-1 */ 
.fbtextbox{
    display: flex;
    padding-left: 50px;
    width: 33.33%;
}


                               /*HOVER PROPERTY FOR TEXTBOXES FOR BOTTOM PART-1 */
.ccc:hover{
    cursor: pointer;
    text-decoration: underline;

}


                              /*BOTTOM PART-1 TEXTBOX-2*/
.fbtext2{
    border: 2px solid #dddddd;
    border-radius: 5px;
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 20px;
}


                              /*BOTTOM PART-1 TEXTBOX-1*/
.fbtext3{
    border: 2px solid #dddddd;
    border-radius: 5px;
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 20px;
    
}


 
                               /*FOOTER LIST */
.footer{
    background-color: #232f3e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

 
                                  /* 6-COLUMNS PROPERTY*/ 
.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 99px;
    gap: 20px;
}



                             /*EVERY SINGLE COLUMN*/
.column {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    text-align: left;
}

                           /*COLUMN HEADING TEXT PROPERTY*/
.column h2 {
    color: #DDDDDD;
    font-size: 12px;
    
}

                           /*COLUMN INSIDE TEXT LIST PROPERTY*/
.column ul {
    list-style-type: none;
    color: #999999;
    font-size: 12px;
    margin-bottom: 1px;
}


                            /*COLUMN-LIST HOVER PROPERTY*/
.column:hover{
    cursor: pointer;
    text-decoration: underline;
}



                            /*LAST PART*/
.bottom{
    height: 50px;
    background-color: #0F1111;
    color: #DDDDDD;
    font-size: 12px;
    align-items: center;
    justify-content: space-evenly;
     text-align: center;
}


                          /*END PART DEATIALS*/
.btttt{
    display: flex;
    align-items: center;
    text-align: center;
 margin-left: 620px;
}